.popup__name {
  border:none;
  border-bottom:1px solid rgba(0, 0, 0, 0.2);
  font-size:1.4rem;
  line-height:1.7rem;
  padding:0 0 3% 0;
  margin:13% 0 0 8.5%;
  width:85%;
}

.popup__name:focus {
  outline:none;
}

.popup__error_visible.popup__name:invalid {
  border-bottom:1px solid red;
}


