@import url(./__info/profile__info.css);
@import url(./__name/profile__name.css);
@import url(./__title/profile__title.css);
@import url(./__text/profile__text.css);

.profile {
  margin: 13.1% auto 0;
  width:88%;
  height:28.6rem;

  display:flex;
  flex-direction: column;
}

@media only screen and (min-width: 426px) {
  .profile {
    max-height:120px;
    max-width:882px;
    width:97%;
    margin:4rem 0 0;

    flex-direction:row;
    align-items:center;
    flex-wrap:nowrap;
   }
}

