.popup__button {
  width:80%;
  background-color: #000;
  color:#FFF;
  cursor:pointer;
  margin-top:10.5%;
  margin-left:7.5%;
  /* margin-bottom:15%; */
  margin-bottom:8.5%;
  font-size:1.4rem;
  line-height:1.7rem;
  border-radius:.2rem;

  padding: 4% 0;
  border:none;
}

.popup__button:focus {
  outline:none;
}

.popup__button:hover {
  background-color:rgba(0, 0, 0, 0.8);
}
