.profile__title {
  margin:0;
  line-height:1.7rem;
  text-align:center;
  font-size:1.4rem;
  flex:0 0 100%;
}

@media only screen and (min-width: 426px){
  .profile__title  {
    flex:initial;
    font-size:1.8rem;
    line-height:2.2rem;
   }
}

/* @media only screen and (min-width: 426px){
  .profile__title  {
    flex:initial;
   }
} */
