.footer__text {
  color:#545454;
  font-size:1.4rem;
  line-height:1.7rem;
  margin:0 0 0 6%;
}

@media only screen and (min-width: 500px) and (max-width: 1024px){
  .footer__text {
    margin:0 0 0 calc((100% - 95%)/2);
    font-size:1.8rem;
    line-height:2.2rem;
  }
}

@media only screen and (min-width: 1025px) {
  .footer__text {
    margin:0 0 0 auto;
    font-size:1.8rem;
    line-height:1.2rem;
  }
}


