.place__delete {
  background-image: url(../../../images/delete.svg);
  width:1.8rem;
  height:1.93rem;
  position:absolute;
  top:1.8rem;
  right:1.5rem;
  cursor:pointer;
}

.place__delete:hover {
  opacity:.6;
}
