.popup__button {
  width:80%;
  max-width:35.8rem;
  background-color: #000;
  color:#FFF;
  cursor:pointer;
  margin: 7.5% auto 8.5% 8%;


  font-size:1.8rem;
  line-height:2.2rem;
  border-radius:.2rem;

  padding: 4% 0;
  border:none;
}

.popup__button:focus {
  outline:none;
}

.popup__button:hover {
  background-color:rgba(0, 0, 0, 0.8);
}
