.profile__name{
  font-weight: 500;
  font-size:2.2rem;
  line-height:5.6rem;
  margin:0 1.5rem 0 auto;
  text-align:center;
  flex:0 0 75%;

  overflow-wrap: break-word;
  word-wrap: break-word;
}

@media only screen and (min-width: 426px)  {
  .profile__name{
    margin:0 1rem 0 auto;
    flex:initial;
    line-height:4rem;
  }
}




