@import url('../vendor/normalize.css');
@import url('../blocks/root/root.css');
@import url('../fonts/fonts.css');
@import url('../blocks/page/page.css');
@import url('../blocks/header/header.css');
@import url('../blocks/logo/logo.css');
@import url('../blocks/line/line.css');
@import url('../blocks/profile/profile.css');
@import url('../blocks/avatar/avatar.css');
@import url('../blocks/button/button.css');
@import url('../blocks/places/places.css');
@import url('../blocks/place/place.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/popup/popup.css');
