.profile__info {
 margin-top: 5%;
 margin-bottom:13%;

 display:flex;
 flex-wrap:wrap;
 align-items: baseline;
 justify-content: center;
}

@media only screen and (min-width: 426px) and (max-width: 469px){
  .profile__info {
    margin: 0 0 0 2%;
    width:55%;
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 470px) and (max-width: 768px){
  .profile__info {
    margin: 0 0 0 3.5%;
    width:53%;
    max-width:27rem;
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 769px) {
  .profile__info {
     margin: 0 0 0 3.5%;
    width:60%;
    justify-content: flex-start;
  }
}

