@import url(./__icon/place__icon.css);
@import url(./__icon/_liked/place__icon_liked.css);
@import url(./__image/place__image.css);
@import url(./__info/place__info.css);
@import url(./__name/place__name.css);
@import url(./__delete/place__delete.css);

.place {
  align-self:stretch;
  position:relative;
}

.place:not(:last-child) {
  margin-bottom:8%;
}

@media only screen and (min-width: 500px) and (max-width: 1024px)  {
  .place:nth-last-child(2),
  .place:nth-last-child(1) {
    margin-bottom:0;
  }
}

@media only screen and (min-width: 1025px) {
  .place:nth-last-child(2),
  .place:nth-last-child(3) {
    margin-bottom:0;
  }
}

