.button_edit {
  background:url(../../../images/editButton.svg) no-repeat center center;
  background-size: .75rem;
  width:1.8rem;
  height:1.8rem;
  padding:0;
  margin-right:1rem;
  cursor:pointer;
}
