.button {
  border: 2px solid #FFFFFF;
  border-radius:2px;
  padding:17px calc((100% - 22px - 4px)/2 );
  cursor:pointer;
}

.button:hover{
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.button:hover path {
  fill:rgba(255, 255, 255, 0.6);
}

@media only screen and (min-width: 426px) and (max-width: 455px){
  .button {
    background-size: 19px 19px;
    padding:1.25% 4%;
    border: 2px solid #FFFFFF;
    margin-left:auto;
  }
}

@media only screen and (min-width: 456px) {
  .button {
    padding:1.5% 7.5%;
    border: 2px solid #FFFFFF;
    margin-left:auto;
  }
}

